rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /rooms/{room}/msgs/{msg} {
      allow read: if true;
      allow create: if true;
      allow delete: if true;
    }
  }
}